.reviewsWrapper {
  text-align: center;
}
.reviewsWrapper h6 {
  padding-bottom: 40px;
}

.cardsWrapper {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 3%;
}

.eachcard {
  margin-top: 3%;
  border: 1px solid var(--gray2);
  padding: 30px;
  height: 450px;
  width: 31%;
  min-width: 300px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.text {
  color: var(--gray8);
}
.eachcard img {
  margin: 0 auto;
  background-color: var(--gray2);
  border-radius: 50%;
  height: 80px;
  width: 80px;
  object-fit: cover;
}
