.mediaWrapper {
  display: flex;
  gap: 10px;
}
.mediaWrapper a {
  background-color: var(--color4);
  border-radius: 50%;
  font-size: 18px;
  padding: 6px;
  transition: 0.3s;
  color: var(--white);
  height: 30px;
  width: 30px;
  display: flex;
  align-items: center;
}
.mediaWrapper a:hover {
  background-color: var(--color1);
}
