.TextIntoPhotoWrapper {
  width: 100%;
  display: flex;
  max-width: 1500px;
  margin: 0 auto;
}
.reverse {
  flex-direction: row-reverse;
}

.image {
  width: 70%;
  height: 100%;
  object-fit: cover;
  min-height: 600px;
}

.textDivWrapper {
  width: 50%;
  z-index: 1;
  margin: auto -20%;
  padding: 10px;
  background-color: var(--white);
}

.textDiv {
  border: 1px solid var(--gray4);
  text-align: center;
  padding: 15%;
}
.textDiv img {
  margin: 0 auto;
  padding-bottom: 20px;
  object-fit: cover;
}

.textDiv p {
  margin: 20px auto;
}

@media (max-width: 800px) {
  .textDiv p {
    margin: 10px auto;
  }
  .textDiv {
    padding: 25px;
  }
}

@media (max-width: 700px) {
  .TextIntoPhotoWrapper {
    flex-direction: column;
    margin-bottom: 150px;
  }
  .textDivWrapper {
    width: 70%;
    margin: -20% auto;
  }

  .image {
    width: 90%;
    margin: 0 auto;
  }
}

@media (max-width: 500px) {
  .textDiv {
    padding: 10px;
  }
  .TextIntoPhotoWrapper {
    margin-bottom: 100px;
  }
}

/* ----------------slide animation------------------- */

.slideSide {
  animation: slideSide linear forwards;
  animation-timeline: view();
  animation-range: cover -70% cover 40%;
}
@keyframes slideSide {
  0% {
    /* opacity: 0; */
    margin: auto 200px;
  }

  100% {
    /* opacity: 1; */
  }
}
@media screen and (max-width: 600px) {
  .slideSide {
    animation: none;
  }
}
