.notFound {
  /* background-color: var(--color1); */
  height: 50vh;
  min-height: 400px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
}
.notFound h5 {
  padding: 20px 0;
  text-align: center;
}
.notFound a {
  margin-top: 50px;
}
