.mainNavWrap {
  /* color: var(--white); */
  z-index: 10;
  display: flex;
  justify-content: right;
  /* width: 80%; */
  /* margin-right: 40px; */
}
.listWrap {
  display: flex;
  gap: 30px;
  align-items: center;
  /* transition: 0.3s; */
  /* text-transform: uppercase; */
}

@media (max-width: 650px) {
}

@media (max-width: 800px) {
  .mainNavWrap {
    display: none;
  }
}
